.container-fluid-promotion{
  padding: 60px 65px 60px 65px;
  .right-slider{
    background-color: #fff;
    margin: 0;
    position: absolute;
    height: 50%;
    width: 100%;
    display: table;
    .caption{
      padding: 30px 45px;
      display:table-cell;
      vertical-align: middle;
      color: #4f4f4f;
      text-align: right;
      line-height: 1;
      .caption-text{
        color: #df952c;
        font-size: 66px;
      }
      .-caption-text-sec{
        font-weight: 900;
        font-size: 66px;
        color: #1d4797;
        margin-bottom: 20px;
      }
      p{
        font-size: 37px;
      }
    }
  }
  .right-slider-bottom{
    background: url("../img/designBg.jpg") repeat no-repeat;
    padding: 110px 60px 60px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    right: 0;
    text-align: right;
    overflow: hidden;
    height: 476px;
    font-size: 66px;
    color: #fff;
    font-weight: 900;
    .create-text{
      color: #7e95c1;
    }
    .create-button{
      background: #052156;
      font-size: 20px;
      padding: 30px;
      color: #fff;
      i{
        padding: 10px;
        font-size: 24px;
      }
    }
  }
}
@media (max-width: 768px) {
  .container-fluid-promotion {
    display: none;
    padding: 20px 15px 60px 15px;
  }
  .right-slider-bottom{
    display: none;
  }
}
